/* EditStudentPage.jsx page css start */

.editdiv{
    width: 50vw;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    height: 50vh;
    margin: 50px auto;
    border-radius: 25px;
    text-align: center;
    
}
.editdiv input{
    width: 20vw;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 25px;
    border: 2px solid gray;
    height: 30px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: 18px;
}
.editdiv button{
    width: 10vw;
    margin-top: 50px;
    border-radius: 25px;
    border: 2px solid gray;
    height: 30px;
    background-color: lightseagreen;
    text-align: center;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-left: 20px;

}
.updatebtn:hover{
    background-color: limegreen;
    transform: scale(1.1);
    transition: all .2s ease-in-out;   
    border: none;
}
.cbtn:hover{
    background-color: red;
    border: none;
    transform: scale(1.1);
    transition: all .2s ease-in-out;   
}

/* EditStudentPage.jsx page css over */



/* AddStudents.jsx page css Start */
.addstudents{
    width: 50vw;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    height: 50vh;
    margin: 50px auto;
    border-radius: 25px;
    text-align: center;
}
.addstudents input{
    width: 20vw;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 25px;
    border: 2px solid gray;
    height: 30px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: 18px;
    
}
.addstudents button{
    width: 10vw;
    margin-top: 50px;
    border-radius: 25px;
    border: 2px solid gray;
    height: 30px;
    background-color: lightseagreen;
    text-align: center;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-left: 20px;

}
.submitbtn:hover{
    background-color: limegreen;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    border: none;

}
.cancelbtn:hover{
    background-color: red;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    border: none;

}
.add-h1tag{
    text-align: center;
    color: rgb(10, 112, 175);
    font-size: 2rem;
    width: 30vw;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 25px;
    margin: 30px auto;
}
/* AddStudents.jsx page css over */
