nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: black;
}
h1{
  color: rgb(255, 157, 0);
}
li{
  display: inline-block;
  list-style-type: none;
  padding: 10px 100px; 
}
.main{
  height: 100vh;
  background: linear-gradient(red,yellow,blue);
}
li a{
  text-decoration: none;
  background-color: lightseagreen;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  border: none;
}
li a:hover{
    background-color: rgb(83, 223, 83);
}
.active{
   background-color: rgb(255, 157, 0);
   color: black;
   font-weight: bold;
}
.notactive{
  color: white;
}